<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.fc_prc.tomcat.mappingutil">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.fc_prc.tomcat.mappingutil"
            class="com.fc_prc.tomcat.mappingutil.views.SampleView"
            id="com.fc_prc.tomcat.mappingutil.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.fc_prc.tomcat.mappingutil.preferencepages.RootPreferencePage"
            id="com.fc_prc.tomcat.mappingutil.mainpage"
            name="TomcatMapping">
      </page>
      <page
            category="com.fc_prc.tomcat.mappingutil.mainpage"
            class="com.fc_prc.tomcat.mappingutil.preferencepages.SetTomcatPath"
            id="com.fc_prc.tomcat.mappingutil.mappingpage"
            name="Mapping">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.fc_prc.tomcat.mappingutil.maincommand"
               icon="icons/mapping.png"
               label="Create Tomcat Mapping"
               style="push">
               <!--<visibleWhen
                     checkEnabled="false">
                     <with
                           variable="selection">
                           <iterate ifEmpty="false">
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                                 <test
                                       property="org.eclipse.core.resources.name" value="*.java">
                                 </test>
                           </adapt>
                           </iterate>
                     </with>
               </visibleWhen>-->
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.fc_prc.tomcat.mappingutil.maincommad"
            name="maincommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.fc_prc.tomcat.mappingutil.handlers.AddMappingHandler"
            commandId="com.fc_prc.tomcat.mappingutil.maincommand">
      </handler>
   </extension>

</plugin>
